{% extends "_layout" %}

{% block header %}
    {% include '_includes/_feature.html' %}
{% endblock %}
{% block content %}
  <!--<div style="height:371px; background-color: gray;"></div>-->
  <h1>{{ entry.title }}</h1>
  
  <div class="col-12 col-m-12 about_intro">
    {{entry.body}}
  </div>

  <div class="menu-btn">
    {% set category = craft.categories.group('menuCategory') %}
      {% for category in craft.categories.group('menuType') %}
        <a href="#" data-tab="{{ category.title }}" class="col-3 col-m-12 menu-button__single">{{ category.title }}</a>
      {% endfor %}
  </div>

{#scroll menu#}


{% for category in craft.categories.group('menuType') %}

    <section id="{{ category.title }}" class="meal-container">
      <!-- Menu that lists the food categories -->
      <div class="scroll-menu-side col-3 meal-nav">
        {% for foodmenu in craft.categories.group('foodCategory').relatedTo() %}
           {% set entries = craft.entries.section('menu') %}
            {% set foods = entries.relatedTo([
            'and',
            { targetElement: category },
            { targetElement: foodmenu }
          ]) %}
        {% if foods | length %}
        <div  class="col-3 col-m-3">
          <a href="#{{foodmenu.title}}">{{foodmenu.title}}</a>
        </div>
      {% endif %}
        {% endfor %}
      </div>
      <!-- End food categories menu -->
      <!-- List out each menu item organized by category -->
      <div class="col-9 menu-items">
        <h3>{{ category.title }}</h3>
        {% for foodcat in craft.categories.group('foodCategory').relatedTo() %}
          {% set entries = craft.entries.section('menu') %}
            {% set foods = entries.relatedTo([
            'and',
            { targetElement: category },
            { targetElement: foodcat }
          ]) %}
          {% if foods | length %}
          <div id="{{ foodcat.title }}" class="food-item">
          <h2>{{ foodcat.title }}</h2>
            {% for food in foods %}
              <div class="col-4">
                <p class="menu-title">{{ food.title }}</p>
                <p class="menu-price">{{ food.foodPrice }}</p>
                <p>{{ food.foodDescription }}</p>
              </div>
            {% endfor %}

          </div>
           {% endif %}
          {% endfor %}
        </div>
      </section>
{% endfor %}

{# dropdown #}
{# <div class="col-12 m-dinner-nav">
  <div class="breakline"></div>
  <div class="dropdown">
    <button onclick="muFunction()" class="dripbtn">Select</button>
      <div id="myDropdown" class="dropdown-content">
        {% for category in craft.categories.group('foodCategory') %}
          <a href="{{ category.url }}">{{ category.title }}</a>
        {% endfor %}
      </div>
  </div>
</div> #}

<script>
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
{% endblock %}
