{% cache globally %}
<footer class="col-12 col-m-12">
	<div class="col-10 col-m-12 footer-container">
		<div class="col-4 col-m-4 location">
			<h4>Location</h4>
			<p>{{ footer.basicText }}</p>
			<p>{{ footer.valetInformation }}</p>
		</div>
		<div class="col-4 col-m-4 contact">
			<h4>Contact</h4>
			<p>{{ footer.phoneNumber }}</p>
			<p><a href="mailto:{{footer.email}}">{{ footer.email }}</a></p>
		</div>
		<div class="col-4 col-m-4 hours">
			<h4>Hours</h4>
			{% if footer.hours | length %}
				{% for row in footer.hours %}
					<p>{{ row.dayOfWeek }} - {{ row.hours }}</p>
				{% endfor %}
			{% endif %}
		</div>
		<!-- Social Media Block !-->
		{% if footer.socialMedia | length >= 1 %}
			<div class="social-media">
				<div class="social-media__icons">
					{% for block in footer.socialMedia %}
						 <a class="social-media__icon {{ block.socialName }}" href= "{{block.address}}">{{ block.socialName }}</a>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		</div>
		<!-- End Social Media Block !-->

		<div class="col-12 col-m-12 copyright">
			<p>&copy; {{ footer.copyRightText }}</p>
		</div>
	</div>
</footer>
{% endcache %}
