<div class="col-12 col-m-12 slideshow-container">
	{% if entry.slideShowLink | length %}
		{% for link in entry.slideShowLink %}
			<a class= "slideshow-menu" href="{{ link.url }}"><h2>View {{ link.title }}</h2></a>
		{% endfor %}
	{% endif %}

<div class="photo-gallery owl-carousel" >

{% for asset in entry.photoGallery %}

	<div class="item">
		<picture>
			<source srcset="{{ asset.url('slideShowLarge') }}" media="(min-width: 800px)">
			<img src="{{ asset.getUrl('slideShowSmall') }}" alt="asset.title"/>
		</picture>
	</div>
{% endfor %}
</div>
</div>
