<!-- Sets the background logo for small screens -->
<style type="text/css">
  {% for asset in header.logo %}
  .logo-bkg a {
    background-image: url({{ asset.url }});
  }
  {% endfor %}
</style>

{% set nav = craft.amNav.getNavRaw("mainMenu") %}
  {% macro addNodeToNavigation(node, index) %}
      {%- set nodeClasses = ['nav-list'] -%}
      {%- if node.hasChildren -%}
          {%- set nodeClasses = nodeClasses|merge(['has-children']) -%}
      {%- endif -%}
      {%- if node.active or node.hasActiveChild -%}
          {%- set nodeClasses = nodeClasses|merge(['active']) -%}
      {%- endif -%}
      {%- if node.level == 1 and index == 1 -%}
          {%- set nodeClasses = nodeClasses|merge(['first']) -%}
      {%- endif -%}
      {%- if node.listClass|length -%}
          {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
      {%- endif -%}

      <li{% if nodeClasses|length %} class="{{ nodeClasses|join(' ') }}"{% endif %}>
          <a href="{{ node.url }}" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
          {% if node.hasChildren %}
              <ul class="nav__level{{ (node.level + 1) }}">
                  {% for subnode in node.children %}
                      {{ _self.addNodeToNavigation(subnode, loop.index) }}
                  {% endfor %}
              </ul>
          {% endif %}
      </li>
  {% endmacro %}

<ul class="col-12 nav-container {% if currentUser %}loggedIn{%endif%}" id="nav-container">
  <div class="col-9 nav-alignment">
          {% for node in nav %}
              {{ _self.addNodeToNavigation(node, loop.index) }}
          {% endfor %}
  </div>
</ul>
