{{>organisms-nav}}
<div class="col-12 col-m-12 header-container">
  <header>
    <div class="about-header-bckg">
    </div>
  </header>
</div>
<div class="col-12 col-m-12 menu_intro">
	<h1>Menu</h1>
	<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
</div>
<div class="menu-btn">
	<div id="brunch" class="col-3 col-m-12 brunch-btn">
		<a>Brunch</a>
	</div>
	<div id="lunch" class="col-3 col-m-12 lunch-btn">
		<a>Lunch</a>
	</div>
	<div id="dinner" class="col-3 col-m-12 dinner-btn">
		<a>Dinner</a>
	</div>
	<div id="specials" class="col-3 col-m-12 specials-btn">
		<a>Specials</a>
	</div>
</div>
{{>organisms-scrollmenu}}
<!-- BRUNCH CONTENT -->
<div id="brunch" class="brunch-container">
	<p>Brunch Container</p>
</div>
<!-- -->

<!-- LUNCH CONTENT -->
<div id="lunch" class="lunch-container">
	<p>Lunch Container</p>
</div>
<!-- -->

<!-- DINNER CONTENT -->
<div id="dinner" class="dinner-container">

	{{>organisms-sidebar}}

	<!-- Mobile Dinner Nav -->

	{{>organisms-dropdown}}

	<!-- END -->

	{{>organisms-dinnermenu}}
</div>
<!-- -->

<!-- SPECIALS CONTENT -->
<div id="specials" class="specials-container">
	<p>Specials Container</p>
</div>
<!-- -->
{{>organisms-footer}}
