{{>organisms-nav}}
<div class="col-12 col-m-12 header-container">
  <header>
    <div class="about-header-bckg">
    </div>
  </header>
</div>
<h1>Menu</h1>

<div class="menu-btn">
	<div class="col-3 col-m-12 brunch-btn">
		<a href="javascript:showhide('brunch')">Brunch</a>
	</div>
	<div class="col-3 col-m-12 lunch-btn">
		<a href="javascript:showhide('lunch')">Lunch</a>
	</div>
	<div class="col-3 col-m-12 dinner-btn">
		<a href="javascript:showhide('dinner')">Dinner</a>
	</div>
	<div class="col-3 col-m-12 specials-btn">
		<a href="javascript:showhide('specials')">Specials</a>
	</div>
</div>

<!-- BRUNCH CONTENT -->
<div id="brunch" class="brunch-container">
	<p>Brunch Container</p>
</div>
<!-- -->

<!-- LUNCH CONTENT -->
<div id="lunch" class="lunch-container">
	<p>Lunch Container</p>
</div>
<!-- -->

<!-- DINNER CONTENT -->
<div id="dinner" class="dinner-container">
	<div class="col-3 dinner-nav">
		<div class="col-12 col-m-12">
			<a href="#appetizers">Appetizers</a>
		</div>
		<div class="col-12 col-m-12">
			<a href="#sides">Sides</a>
		</div>
		<div class="col-12 col-m-12">
			<a href="#entrees">Entrees</a>
		</div>
		<div class="col-12 col-m-12">
			<a href="#desserts">Desserts</a>
		</div>
	</div>
	<div class="col-9 dinner-menu">
		<div id="appetizers"class="dinner-appetizers">
			<h2>Appetizers</h2>
			<div class="col-4 left-menu">
				<p class="menu-title">Appetizer</p>
				<p class="menu-price">$4</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Appetizer</p>
				<p class="menu-price">$4</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Appetizer</p>
				<p class="menu-price">$4</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-4 right-menu">
				<p class="menu-title">Appetizer</p>
				<p class="menu-price">$4</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Appetizer</p>
				<p class="menu-price">$4</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Appetizer</p>
				<p class="menu-price">$4</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div id="sides" class="dinner-sides">
			<h2>Sides</h2>
			<div class="col-4 left-menu">
				<p class="menu-title">Side</p>
				<p class="menu-price">$4</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Side</p>
				<p class="menu-price">$4</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Side</p>
				<p class="menu-price">$4</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-4 right-menu">
				<p class="menu-title">Side</p>
				<p class="menu-price">$4</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Side</p>
				<p class="menu-price">$4</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Side</p>
				<p class="menu-price">$4</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div id="entrees" class="dinner-entrees">
			<h2>Entrees</h2>
			<div class="col-4 left-menu">
				<p class="menu-title">Entree</p>
				<p class="menu-price">$20</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Entree</p>
				<p class="menu-price">$20</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Entree</p>
				<p class="menu-price">$20</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-4 right-menu">
				<p class="menu-title">Entree</p>
				<p class="menu-price">$20</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Entree</p>
				<p class="menu-price">$20</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Entree</p>
				<p class="menu-price">$20</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div id="desserts" class="dinner-desserts">
			<h2>Desserts</h2>
			<div class="col-4 left-menu">
				<p class="menu-title">Dessert</p>
				<p class="menu-price">$8</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Dessert</p>
				<p class="menu-price">$8</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Dessert</p>
				<p class="menu-price">$8</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="col-4 right-menu">
				<p class="menu-title">Dessert</p>
				<p class="menu-price">$8</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Dessert</p>
				<p class="menu-price">$8</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<p class="menu-title">Dessert</p>
				<p class="menu-price">$8</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
</div>
<!-- -->

<!-- SPECIALS CONTENT -->
<div id="specials" class="specials-container">
	<p>Specials Container</p>
</div>
<!-- -->
{{>organisms-footer}}
<script>
function showhide(id) {
	var e = document.getElementById(id);
	e.style.display = (e.style.display == 'block') ? 'none' : 'block';
}

</script>

