{% extends "_layout" %}
{% block content %}
		{% include '_includes/_feature.html' %}

		{% for entry in craft.entries.section('aboutTreno') %}
		<h1>{{ entry.basicText }}</h1>
		{{ entry.body }}
		{% endfor %}
		
		
	{# matrix field #}	
	{#{% for block in entry.contentBlocks %}
		{% if block.type == "image" %}
			{% for image in block.imageFile %}
				<img src="{{ image.url('headshots') }}" alt="image.title"/>
			{% endfor %}
		{% elseif block.type == "text" %}
			{{ block.textBlock| markdown }}
			
		{% endif %}
	{% endfor %}#}
		

		{# having trouble looping items while putting them in a table #}
		{% include '_includes/_gallery.html' %}

		<h2>Owners</h2>
		<table>	
			{% for entry in craft.entries.section('profiles') %}
				<tr>{% for image in entry.teamMemberPhoto %}
					<img src="{{ image.url('investorProfile') }}">
				{% endfor %}</tr>
				<tr><h4>{{ entry.title }}</h4></tr>
				<tr>{{ entry.teamMemberBio }}</tr>
			{% endfor %}
		</table>

<table>
		<tr>
			<th><h2>Events</h2></th>
		</tr>
		
			{% for entry in craft.entries.section('news').limit(3) %}
			<tr>
				<th> <a href="entry.url }}">{{ entry.title }}</a> </th>
			</tr>
			<tr>
			<th width="300">{{ entry.body }}<th>
 			{% endfor %}
 			</tr>
 </table>



		{# photo gallery #}
		{#{% for asset in entry.photoGallery %}
			<a href="{{ asset.getUrl }}"><img src="{{ asset.getUrl('crop') }}"/></a>
		{% endfor %}#}
		

{% endblock %}