{% extends "_layout" %}
{% block content %}
		<h2>{{ entry.title }}</h2>
		{{ entry.body }}
		{% for asset in entry.featureImage %}
			<img src="{{ asset.url }}" alt="asset.title" />
		{% endfor %}
		

		{% for block in entry.contentBlocks %}
			{% if block.type == "text" %}
				{{ block.textBlock| markdown }}
			{% elseif block.type == "image" %}
				{% for image in block.imageFile %}
					<img src="{{ image.url('food') }}" alt="image.title"/>
				{% endfor %}
			{% endif %}
		{% endfor %}
		<h1>Team Profiles</h1>
		{% for entry in craft.entries.section('profiles') %}
			{{ entry.title }}
			{% for image in entry.teamMemberPhoto %}
				<img src="{{ image.url }}">
			{% endfor %}		
			{{ entry.teamMemberBio }}
		{% endfor %}
		{#{% set vertParams = {
  			height: 800,
  			mode: 'crop',
  			position: 'center-center',
		}
		%}
		{% set horzParams = {
  			width: 800,
  			mode: 'crop',
  			position: 'center-center',
		}
		%}
		{% set thumbParams = {
  			width: 120,
 			height: 120,
  			mode: 'crop',
  			position: 'center-center',
  		}
  		%}
  		{% set block = entry.photoMatrix %}
  		{% if block | length %}
  			{% if photoMatrix.image | length %}
  				<h3>{{ photoMatrix.image }}</h3>
  			{% endif %}
  			<ul class="gallery">
  				{% for asset in block %}
  				<li>
  					{% if asset.getHeight() > asset.getWidth %}
  						<a href="{{ asset.getURL(vertParams) }}"><img src="{{ asset.getURL(thumbParams) }}" alt="asset"></a>
  					{% else %}
  						<a href="{{ asset.getURL(horzParams) }}"><img src="{{ asset.getURL(thumbParams) }}" alt="asset"></a>
  					{% endif %}
  				</li>
  			{% endfor %}
  		</ul>
  	{% endif %}#}
		{% for asset in entry.photoGallery.limit(1) %}
			<img src="{{ asset.getUrl('crop') }}"/>
		{% endfor %}
		{#{% set prevType = null %}
		{% set nextType = null %}

		{% for block in entry.photoMartix %}

  		{% set type = (nextType ?: block.type.handle) %}
  		{% set nextType = (not loop.last ? block.next().type.handle) %}

  		{% switch type %}
  			{% case 'imageField' %}
  				{% if prevType != 'imageField' %}
  					<div class="bxslider">
  				{% endif %}
  			{% set asset = block.image.first() %}
  			{% if asset %}
  				<figure class="bxslider-item">
  					<img src="{{ asset.url }}">
  				</figure>
  			{% endif %}
  			{% if nextType != 'imageField' %}
  				</div>
  			{% endif %}
  			{% endswitch %}

  			{% set prevType = type %}
  			{% endfor %}#}

{% endblock %}