{{>organisms-nav}}
<div class="col-12 col-m-12 header-container">
  <header>
    <div class="about-header-bckg">
    </div>
  </header>
</div>
<h1>Menu</h1>

<div class="menu-btn">
	<div class="col-3 col-m-12 brunch-btn">
		<a id="brunch">Brunch</a>
	</div>
	<div class="col-3 col-m-12 lunch-btn">
		<a id="lunch">Lunch</a>
	</div>
	<div class="col-3 col-m-12 dinner-btn">
		<a id="dinner">Dinner</a>
	</div>
	<div class="col-3 col-m-12 specials-btn">
		<a id="specials">Specials</a>
	</div>
</div>

<!-- BRUNCH CONTENT -->
<div id="brunch" class="brunch-container">
	<div class="brunch-menu">
</div>
<!-- -->

<!-- LUNCH CONTENT -->
<div id="lunch" class="lunch-container">
	<div class="lunch-menu">
	</div>
</div>
<!-- -->

<!-- DINNER CONTENT -->
<div id="dinner" class="dinner-container">
	<div class="dinner-menu">
		<h2>Dinner</h2>
	</div>
</div>
<!-- -->

<!-- SPECIALS CONTENT -->
<div id="specials" class="specials-container">
	<div class="specials-menu">
	</div>
</div>
<!-- -->

