{{>organisms-nav}}
<div class="col-12 col-m-12 header-container">
  <header>
    <div class="about-header-bckg">
    </div>
  </header>
</div>
<div class="col-12 col-m-12 about_intro">
	<h1>Menu</h1>
	{{>atoms-paragraphs}}
</div>
<div class="menu-btn">
	<div class="col-3 col-m-12 brunch-btn">
		<a href="javascript:showhide('brunch')">Brunch</a>
	</div>
	<div class="col-3 col-m-12 lunch-btn">
		<a href="javascript:showhide('lunch')">Lunch</a>
	</div>
	<div class="col-3 col-m-12 dinner-btn">
		<a href="javascript:showhide('dinner')">Dinner</a>
	</div>
	<div class="col-3 col-m-12 specials-btn">
		<a href="javascript:showhide('specials')">Specials</a>
	</div>
</div>
{{>organisms-scrollmenu}}
<!-- BRUNCH CONTENT -->
<div id="brunch" class="brunch-container">
	<p>Brunch Container</p>
</div>
<!-- -->

<!-- LUNCH CONTENT -->
<div id="lunch" class="lunch-container">
	<p>Lunch Container</p>
</div>
<!-- -->

<!-- DINNER CONTENT -->
<div id="dinner" class="dinner-container">

	{{>organisms-sidebar}}

	<!-- Mobile Dinner Nav -->

	{{>organisms-dropdown}}

	<!-- END -->

	{{>organisms-dinnermenu}}
</div>
<!-- -->

<!-- SPECIALS CONTENT -->
<div id="specials" class="specials-container">
	<p>Specials Container</p>
</div>
<!-- -->
{{>organisms-footer}}
<script>
function showhide(id) {
	var e = document.getElementById(id);
	e.style.display = (e.style.display == 'block') ? 'none' : 'block';
}
</script>