{% extends "_layout" %}
{% block content %}
	{% for category in craft.categories.group('specialCategory') %}
		<h1>{{ category.title }}</h1>
			{% for entry in craft.entries.section('specialDescription').relatedTo(category).find() %}
				{{ entry.specialDescription }}
			{% endfor %}	
		{% for entry in craft.entries.section('specials') %}
				<ul>
					<li>{{ entry.title }}</li>	
						<ul>
						<li>{{ entry.foodDescription }}</li>
						<li>{{ entry.foodPrice }}</li>
						</ul>	
				</ul>
			
		{% endfor %}
	{% endfor %}
{% endblock %}