{% extends "_layout" %}
{% block content %}
	
	{#{% for category in craft.categories.group('foodCategory') %}
	<h1>{{ category.title }}</h1>
	#}
	
		{% for entry in craft.entries.section('lunchMenu').find() %}
			{{ entry.title }}
			{% for category in craft.categories.group('foodCategory') %}
			<h1>{{ category.title }}</h1>
				{% for name in entry.menuItems.relatedTo(category) %}
						<h2>{{ name.title }}</h2>
							{% for asset in name.foodPicture %}
								<img src="{{ asset.url('food') }}" alt="asset.title" />
							{% endfor %}
				<ul>
					<li>{{ name.foodDescription }}</li>
					<li>{{ name.foodPrice }}</li>	
				</ul>
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endblock %}