{{>organisms-nav}}
<div class="col-12 col-m-12 header-container">
  <header>
    <div class="about-header-bckg">
    </div>
  </header>
  <h1>Directions</h1>
  <div class="col-6 col-m-12 treno-address">
  	{{>atoms-paragraphs}} 
  </div>
  <div class="col-3 col-m-12 treno-parking">
  	<p class="parking-title">Parking</p>
  	<ol>
  		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
  	</ol>
  </div>
  <div class="col-3 col-m-12 treno-valet">
  </div>
</div>