<!--Image 1-->
  <div class="col-12 col-m-12 slideshow-container">
    <div class="slideshow-menu">
      <h2>Menu</h2>
    </div>
    <div class="mySlides fade">
      <img src="/production/assets/img/uploads/food/Pasta.svg">
    </div>
    <!--End-->
    <div class="mySlides fade">
      <img src="/production/assets/img/uploads/food/Tomatoes.svg">
    </div>
    <img class="prev" onclick="plusSlides(-1)" src="/production/assets/img/uploads/arrow-left-white.svg" />

    <img class="next" onclick="plusSlides(1)" src="/production/assets/img/uploads/arrow-right-white.svg" />
  </div>
</main>

<!--Need to move this into the JS file tomorrow-->

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
    }

    slides[slideIndex-1].style.display = "block";  
  }
  </script>
<!--End Slideshow-->