main {
	min-height: 500px;
}

.about_intro {
	display:inline-block;
	max-width: 800px;
	padding: 0 1.5em 2em 1.5em;
	margin-bottom: 1em;
}

.callout {
	font-family: "Crimson Text", serif;
	font-style: italic;
	font-size: 1.75rem;
	margin-top: 2em;
	letter-spacing: 1px;
}


.about_intro p {
	text-align: left;
	line-height: 32px;
	font-family: $serif;
	font-size: 1.4em;
	font-weight: 400;
	@media only screen and (max-width: 599px) {
		margin: 35px 0;
		font-size: 1.2em;
	}
}

.about_intro h2 {
	margin-top:2em;
	text-transform: uppercase;
	@media only screen and (min-width: 700px) {
		margin-top:3em;
	}
}

.about_events h2, .about_specials h2 {
	transition: .3s color ease-in-out;
}

.about_events {
	background-color: $gold;
	position: relative;
	color: $medium-gray;
	display: block;
	padding: 4em 1em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s background-color ease-in-out;
	h2:after {
		transition: .3s all ease-in-out;
	}
	&:hover {
		background-color: lighten($gold, 5%);
		h2:after {
	      width: 40px;
		}
	}
}

.event_date, .event_price {
	font-weight: 800;
}

.about_specials {
	background-color: #fff;
	position: relative;
	color: $medium-gray;
	display: block;
	min-height: 300px;
	padding: 2em 1em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s background-color ease-in-out;
	h2:after {
		transition: .3s all ease-in-out;
	}
	&:hover {
		background-color: lighten(black, 95%);
		h2:after {
	      width: 40px;
		}
	}
}

.event_title {
	font-family: $serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.25em;
}

.feature-image-small {
	width: 100%

}

.half-grid {
	display: flex;
	@media only screen and (max-width: 599px) {
		display: inherit;
	}
}

.half-grid p {
	margin: 1em 25% 1em 25%;
	@media only screen and (max-width: 599px) {
		margin: 2em 13% 2em 13%;
	}
}

.half-grid h1, .half-grid h2 {
	margin-top: 0;
	text-transform: uppercase;
}

.our-team {
	margin-top: 3em;
}

.about_events h2:after {
		content: "";
		display: block;
		width: 4%;
		height: 3px;
		background-color: white;
		margin: 0 auto;
		margin-top: .5em;
	}
.map-container {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  height: 30em;
  background-position: 0 40%;
  position: relative;
  @media only screen and (max-width: 599px) {
		background-position: 50% 0%;
	}
}

.circle img {
	width: 100px;
	@media only screen and (min-width: 900px) {
		width: 150px;
	}

	@media only screen and (min-width: 1191px) {
		width: 200px;
	}
}

.circle {
	position: relative;
	width: 100%;
	top: -308px;
	left: 0;
	display: block;
	float: left;

	@media only screen and (min-width: 900px) {
		top: -323px;
	}
	@media only screen and (min-width: 1191px) {
		top: -346px;
	}

}

.article-title {
	color: $gold;
	font-size: 1.5em;
	text-align: left;
}

.articles-container {
	background-color: #f5f5f5;
	padding-top: 1em;
	position: relative;
	overflow: hidden;
  clear: left;
	padding-bottom: 2.5em;
}

.news-carousel {
	position: relative;
    height: 100%;
  	padding: 2em 10% 0 10%;
  	text-align: left;
    white-space:nowrap;
}


.article-module {
    display:inline-block;
    margin: 1% 8% 8% 0%;
    white-space: normal;
    vertical-align: text-top;
    p {
    	text-align: left;
    }
}

#gradient {
    position:absolute;
    z-index:100;
    right:0; bottom:0; left:0;
    height:80%;
    width: 30%;
    left: 70%;
    background: -moz-linear-gradient(right,  rgba(245, 245, 245,0) 0%, rgba(245, 245, 245,1) 70%);
    background: -webkit-gradient(linear, right, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(245, 245, 245,1)));
    background: -webkit-linear-gradient(right,  rgba(245, 245, 245,0) 0%,rgba(255,255,255,1) 70%);
    background: -o-linear-gradient(right,  rgba(245, 245, 245,0) 0%,rgba(245, 245, 245,1) 70%);
    background: -ms-linear-gradient(right,  rgba(245, 245, 245,0) 0%,rgba(245, 245, 245,1) 70%);
    background: linear-gradient(to right,  rgba(245, 245, 245,0) 0%,rgba(245, 245, 245,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(245, 245, 245)', endColorstr='rgb(245, 245, 245)',GradientType=0 );

}
