<div class="col-12 col-m-12">
	<h2>Chef</h2>
</div>
<div class="about-half-grid">
	<div class="col-6 col-m-12 chef-img">
		<img src="/production/assets/img/uploads/_investorProfile/Face Circles.svg" />
	</div>
	<div class="col-6 col-m-12 chef-bio">
		<p class="chef-name">John Doe</p>
		{{>atoms-paragraphs}} 
	</div>
</div>
