{{>organisms-nav}}
<div class="col-12 col-m-12 header-container">
  <header>
    <div class="about-header-bckg">
    </div>
  </header>
</div>
<div class="col-12 col-m-12 about_intro">
    <h1>History</h1>
    {{>atoms-paragraphs}}  
</div>
{{>organisms-slideshow}}
{{>organisms-chef}}
{{>organisms-articles}}
{{>organisms-footer}}