<div class="col-3 dinner-nav">
		<div class="col-12 col-m-12">
			<a href="#appetizers">Appetizers</a>
		</div>
		<div class="col-12 col-m-12">
			<a href="#sides">Sides</a>
		</div>
		<div class="col-12 col-m-12">
			<a href="#entrees">Entrees</a>
		</div>
		<div class="col-12 col-m-12">
			<a href="#desserts">Desserts</a>
		</div>
	</div>


<script>
</script>