<div class="half-grid">
	<div class="col-6 col-m-12 about_events">
	  <h2>Events</h2>
	  <p class="event_title">Kent State Historical Fest</p>
	  <p class="event_date">June 23,2017</p>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
	  <div class="col-6 col-m-12 about_specials">
	    <h2>Specials</h2>
	    <p class="event_title">Linguine Di Mare</h3>
	    <p>Shrimp and mussels sauteed with homemade pmodoro sauce and whole grain linguine</p>
	    <p class="event_price">$17</p>
	  </div>
</div>