{% extends "_layout" %}
{% block header %}
    <!--<div class="overlay" onClick="style.pointerEvents='none'"></div> -->
    <div class="overlay" onClick="style.pointerEvents='none'"></div>
    <div id="map" class="col-12 col-m-12 map-container" style="height:500px">
		</div>
{% endblock %}
{% block content %}
	<h1>{{ entry.title }}</h1>
	<div class="directions-half-grid">
		<div class="col-4 col-m-12 treno-address">
			<h3>152 Franklin Ave,</h3>
			<h3>Kent, OH - 44240</h3>


	<p class="btn-primary"><a href="https://www.google.com/maps/@41.1529328,-81.3591974,18z">Google Maps</a></p>
	</div>

	<div class="col-4 col-m-12 treno-parking">
		<p class="parking-title">Parking</p>
		<ol>
			<li>{{ entry.parkingInformation }}</li>
			<li>{{ entry.parkingInformation2 }}</li>
			<li>{{ entry.parkingInformation3 }}</li>
		</ol>
	</div>
	<div class="col-4 col-m-12 treno-valet">
		<p class="parking-title">Valet</p>
		<p class="valet-price">{{ entry.valetPrice }}</p>
		<p>{{ entry.valetInformation }}</p>
	</div>
</div>



	{% include '_includes/_feature.html' %}


{% endblock %}
