{% extends "_layout" %}
{% block header %}
    <!--<div class="overlay" onClick="style.pointerEvents='none'"></div> -->
    <div class="overlay" onClick="style.pointerEvents='none'"></div>
    <div id="map" class="col-12 col-m-12 map-container" style="height:500px">
		</div>
{% endblock %}
{% block content %}
	<h1>{{ entry.title }}</h1>
	<div class="directions-half-grid">
		<div class="col-4 col-m-12 treno-address">
			<h3>{{footer.basicText}}</h3> <!-- Phone Number !-->

	<a class="btn-primary" href="{{ entry.googleUrl }}">View Map</a>
	</div>

	<div class="col-4 col-m-12 treno-parking">
		<p class="parking-title">Parking</p>
		<ol>
			<li>{{ entry.parkingInformation }}</li>
			<li>{{ entry.parkingInformation2 }}</li>
			<li>{{ entry.parkingInformation3 }}</li>
		</ol>
	</div>
  {% if entry.valetInformation|length %}
	<div class="col-4 col-m-12 treno-valet">
		<p class="parking-title">Valet</p>
		<p>{{ entry.valetInformation }}</p>
	</div>
  {%endif%}
</div>



	{% include '_includes/_feature.html' %}


{% endblock %}
