
<div id="m-menu-container">
    <div id="menu-modules">
        <a class="module" href="javascript:showhide('brunch')">Brunch</a>
        <a class="module" href="javascript:showhide('lunch')">Lunch</a>
        <a class="module" href="javascript:showhide('dinner')">Dinner</a>
        <a class="module" href="javascript:showhide('specials')">Specials</a>
    </div>
</div>



