<ul class="col-12 nav-container">
	<div class="col-8 nav-alignment">
		<li class="nav-list"><a href="#">About</a></li>
		<li class="nav-list"><a href="#">Menu</a></li>
		<li class="nav-list">{{>atoms-logo}}</li>
		<li class="nav-list"><a href="#">Reservations</a></li>
		<li class="nav-list"><a href="#">Directions</a></li>
	</div>
</ul>
