<ul style="font-size: 150%;">
<li style="font-family:proza libre">Proza Libre: Regular</li>
<li style="font-family:proza libre; font-style: italic">Proza Libre: Italic</li>
<li style="font-family:proza libre; font-weight: 600">Proza Libre: Semibold</li>
<li style="font-family:proza libre; font-weight: 700">Proza Libre: Bold</li>
<li style="font-family:crimson text">Crimson Text: Regular</li>
<li style="font-family:crimson text; font-style: italic">Crimson Text: Italic</li>
<li style="font-family:crimson text; font-weight: 600;">Crimson Text: Semibold</li>
<li style="font-family:crimson text; font-weight: 700;">Crimson Text: Bold</li>
</ul>