.header-container {
	display: grid;
	position: relative;
}

/* Landing Page Banner Image */

.header-bckg {
  background-color: white;
  background-image: url("/production/assets/img/uploads/_featureImage/Welcome Building.svg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  height: 35em;
  z-index: 1;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  -webkit-filter: brightness(53%) grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: brightness(53%) grayscale(100%);
}

/* End Landing Page Banner Image */

/* About Banner Image */

.about-header-bckg {
  background-color: white;
  background-image: url("/production/assets/img/uploads/_featureImage/Welcome Building.svg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  filter: brightness(73%);
  height: 25em;
  z-index: 1;
}

/* End About Banner Image */

.titleContainer {
	width: 50%;
	margin: 3% 0% 2% 1%;
	z-index: 102;
	position: absolute;
	bottom: -100px;
	max-width: 400px;
	left: auto;
	right: auto;
	animation-duration: 1s;
  animation-fill-mode: both;
	animation-name: fadeInUp;
	@media only screen and (max-width: 599px) {
		width: 100%;
		bottom: 10%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	@media screen and (min-width: 1000px) {
		margin-left:17%;
	}
}



.pageTitle {
	//position: absolute;
	z-index: 100;
	top: 10%;
	width: 100%;
	@media screen and (min-width: 599px) {
		position: absolute;
	}
}


.tomatoPlant {
	width: 100%;
	display: block;
	position:relative;
	@media only screen and (max-width: 599px) {
		display: none;
	}
}

.tomatoPlant img {
	position: relative;
	z-index: 99;
}

.pageTitle h3 {
	color: white;
	text-transform: uppercase;
	margin: 5% 0% 10px 0%;


	&:after {
		content: "";
		display: block;
		width: 30px;
		height: 5px;
		background-color: $gold;
		margin: 0 auto;
		margin-top: .5em;
		@media only screen and (min-width:600px) {
			background-color: white;
		}
	}
	@media only screen and (min-width: 1000px) {
		font-size: 1.75em;
	}
}


.pageTitle h1 {
  color: white;
  padding: 0;
  margin: -4% 0% -4% 0%;
	font-size: 4em;
	text-shadow: 1px 1px 3px rgba(0,0,0,.1);
	&:after {
		content: "";
		display: block;
		width: 0%;
		height: 0px;
		background-color: inherit;
		margin: 0 auto;
		margin-top: 0 auto;
	}
	@media only screen and (min-width: 1000px) {
		font-size: 6em;
	}
}
.overlay{
		background: transparent;
		position: relative;
		height:500px;
		top:500px;
		margin-top: -500px;
		z-index:3
}
