.header-container {
	display: grid;
	position: relative;
}

/* Landing Page Banner Image */

.header-bckg {
  background-color: white;
  background-image: url("/production/assets/img/uploads/_featureImage/Welcome Building.svg"); 
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  filter: brightness(83%);
  height: 50em;
  z-index: 1;
  @media only screen and (max-width: 354px) {
		height: 27em;
		background-position: 7%;
	}
  @media only screen and (max-width: 599px) {
		height: 27em;
		filter: brightness(90%);
	}
	@media all and (min-width: 600px) and (max-width: 650px) {
		height: 27em;
	}
	@media all and (min-width: 651px) and (max-width: 740px) {
		height: 28em;
	}
	@media all and (min-width: 741px) and (max-width: 826px) {
		height: 34em;
	}
	@media all and (min-width: 827px) and (max-width: 942px) {
		height: 35em;
	}
	@media all and (min-width: 943px) and (max-width: 1037px) {
		height: 41em;
	}
	@media all and (min-width: 1038px) and (max-width: 1154px) {
		height: 43em;
	}
	@media all and (min-width: 1155px) and (max-width: 1295px) {
		height: 48em;
	}
}

/* End Landing Page Banner Image */

/* About Banner Image */

.about-header-bckg {
  background-color: white;
  background-image: url("/production/assets/img/uploads/_featureImage/Welcome Building.svg"); 
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  filter: brightness(83%);
  height: 50em;
  z-index: 1;
  @media only screen and (max-width: 354px) {
		height: 27em;
		background-position: 7%;
	}
  @media only screen and (max-width: 599px) {
		height: 27em;
		filter: brightness(90%);
	}
	@media all and (min-width: 600px) and (max-width: 650px) {
		height: 27em;
	}
	@media all and (min-width: 651px) and (max-width: 740px) {
		height: 28em;
	}
	@media all and (min-width: 741px) and (max-width: 826px) {
		height: 34em;
	}
	@media all and (min-width: 827px) and (max-width: 942px) {
		height: 35em;
	}
	@media all and (min-width: 943px) and (max-width: 1037px) {
		height: 41em;
	}
	@media all and (min-width: 1038px) and (max-width: 1154px) {
		height: 43em;
	}
	@media all and (min-width: 1155px) and (max-width: 1295px) {
		height: 48em;
	}
}

/* End About Banner Image */

.titleContainer {
	width: 50%;
	margin: 3% 0% 2% 1%;
	z-index: 102;
	position: absolute;
	bottom: -100px;
	@media only screen and (max-width: 599px) {
		width: 100%;
		bottom: 375px;
		margin: 0;
	}
}



.pageTitle {
	position: absolute;
	z-index: 100;
	top: 0;
	margin-top: 31%;
	width: 100%;
}


.tomatoPlant {
	width: 100%;
	display: block;
	@media only screen and (max-width: 599px) {
		display: none;
	}
}

.tomatoPlant img {
	position: relative;
	z-index: 99;
}

.pageTitle h3 {
	color: $medium-gray;
	text-transform: uppercase;
	margin: 5% 0% 6% 0%;


	&:after {
		content: "";
		display: block;
		width: 4%;
		height: 3px;
		background-color: $medium-gray;
		margin: 0 auto;
		margin-top: .10em;
	}
	@media only screen and (min-width: 1300px) {
		font-size: 2em;
	}
}


.pageTitle h1 {
  color: white;
  padding: 0;
  margin: -4% 0% -4% 0%;

	&:after {
		content: "";
		display: block;
		width: 0%;
		height: 0px;
		background-color: inherit;
		margin: 0 auto;
		margin-top: 0 auto;
	}
	@media only screen and (min-width: 1300px) {
		font-size: 5em;
	}
}

