.brunch-btn, .lunch-btn, .dinner-btn, .specials-btn {
	border: 2px solid $gold;
	display: inline-table;
	text-transform: uppercase;
	width: 15%;
	padding: 2% 5%;
	margin: 1%;
}

.brunch-btn:hover , .lunch-btn:hover , .dinner-btn:hover , .specials-btn:hover  {
	border: 2px solid $gold;
	background-color: $gold;
	a {
		color: #ffffff;
	}
}

.brunch-btn a, .lunch-btn a, .dinner-btn a, .specials-btn a {
	color: $dark-gray;
	font-weight: 600;
}

.menu-btn {
	margin: 5% 5% 7% 5%;
}

.dinner-nav {
	text-align: left;
	padding-left: 5%;
	float: left;
}


.dinner-nav a {
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 2%;
}

.dinner-menu {
	display: inline-block;
	float: left;
}

.dinner-appetizers, .dinner-sides, .dinner-entrees, .dinner-desserts {
	margin: 0;
	text-align: left;
	float: left;
	content: "";
	display: table;
	clear: both;
	h2 {
		text-align: left;
		margin: 0% 0% 2% 0%;
	}
	p {
		text-align: left;
	}
}

.left-menu, .right-menu {
	display: inline-block;
	padding-bottom: 8%
}

.right-menu {
	margin-left: 10%;
}



.menu-title {
	display: inline-block;
	font-weight: 800;
	color: $dark-gray;
	font-size: 1em;
	text-transform: uppercase;
	text-align: left;
	width: 86%;
}

.menu-price {
	display: inline-block;
	font-weight: 800;
	color: $dark-gray;
	font-size: 1em;
	text-transform: uppercase;
	width: 10%;
}

.brunch-container, .lunch-container, .dinner-container, .specials-container {
	display: none;
}

.dinner-content {
	display: block;
}




