.brunch-btn, .lunch-btn, .dinner-btn, .specials-btn {
	border: 2px solid $gold;
	display: inline-table;
	text-transform: uppercase;
	width: 15%;
	margin: 1%;
	@media only screen and (min-width: 320px) {
		padding: 3% 15%;
	}
	@media only screen and (min-width: 654px) {
		padding: 2% 5%;
	}
}

.brunch-btn:hover , .lunch-btn:hover , .dinner-btn:hover , .specials-btn:hover  {
	border: 2px solid $gold;
	background-color: $gold;
	a {
		color: #ffffff;
	}
}

.brunch-btn a, .lunch-btn a, .dinner-btn a, .specials-btn a {
	color: $dark-gray;
	font-weight: 600;
}

.menu-btn {
	margin: 5% 5% 7% 5%;
	@media only screen and (min-width: 320px) {
		display: none;
	}
	@media only screen and (min-width: 654px) {
		display: block;
	}
}

.scroll-menu {
	background-color: #fff;
	overflow: auto;
	white-space: nowrap;
}

.no-scrollbar {
	overflow: -moz-scrollbars-none; ;
}

.m-menu-btn {
	margin: 5% 5% 7% 5%;
	display: inline-block;
	float: left;
	@media only screen and (min-width: 654px) {
		display: none;
	}
}

.dinner-nav {
	text-align: left;
	padding-left: 5%;
	float: left;
	@media only screen and (min-width: 320px) {
		display:none;
	}
	@media only screen and (min-width: 768px) {
		display: block;
	}
}

.m-dinner-nav {
	@media only screen and (min-width: 320px) {
		display:block;
	}
	@media only screen and (min-width: 768px) {
		display:none;
	}
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	max-width: 100%;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}


.dinner-nav a {
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 2%;
}

.dinner-menu {
	display: inline-block;
		@media only screen and (max-width: 767px) {
		padding: 7%;
	}
}

.dinner-appetizers, .dinner-sides, .dinner-entrees, .dinner-desserts {
	margin: 0;
	text-align: left;
	float: left;
	content: "";
	display: table;
	clear: both;
	h2 {
		text-align: left;
		margin: 0% 0% 2% 0%;
	}
	h2::after {
		margin: 0;
	}
	p {
		text-align: left;
	}
}

.left-menu, .right-menu {
	display: inline-block;
	padding-bottom: 8%;
}

.right-menu {
	margin-left: 10%;
	@media only screen and (max-width: 767px) {
		margin: 0px auto;
	}
}



.menu-title {
	display: inline-block;
	font-weight: 800;
	color: $dark-gray;
	font-size: 1em;
	text-transform: uppercase;
	text-align: left;
	width: 86%;
}

.menu-price {
	display: inline-block;
	font-weight: 800;
	color: $dark-gray;
	font-size: 1em;
	text-transform: uppercase;
	width: 10%;
}

.brunch-container, .lunch-container, .dinner-container, .specials-container {
	display: none;
}

.dinner-content {
	display: block;
}




