* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  margin: auto;
  height: 35em;
  @media only screen and (max-width: 599px) {
    height: 11em;
  }
 }

 .slideshow-menu {
  position: absolute;
  background-color: rgba(255,255,255,.8);
  padding: 2% 10% 2% 10%;
  left: 37%;
  top: 35%;
  @media only screen and (max-width: 599px) {
    display: none;
  }
 }

 .slideshow-menu h2:after {
  width: 36%;
 }


.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  width: 100%;
  cursor: pointer;
  position: absolute;
  top: 34%;
  width: auto;
  padding: 40px;
  @media only screen and (max-width: 599px) {
    padding: 0;
    top:37%;
  }

}

/* Position the "next button" to the right */
.next {
  right: 0;
  width: 7%;
  @media only screen and (max-width: 599px) {
    width: 3%;
    margin-right: 10px;
  }

}

.prev {
  left: 0;
  width: 7%;
  @media only screen and (max-width: 599px) {
    width: 3%;
    margin-left: 10px;
  }
}
