* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  margin: auto;
  height: 35em;
 }


.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  width: 100%;
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  padding: 40px;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  width: 8%;

}

.prev {
  left: 0;
  width: 8%;
}
