h1 {
	color:$gold;
	font-family:$serif;
	font-style: italic;
	font-size: 3em;
	font-weight: normal;
	text-align: center;
	

	&:after {
		content: "";
		display: block;
		width: 5%;
		height: 3px;
		background-color: $gold;
		margin: 0 auto;
		margin-top: .10em;
	}
}
h2 {
	color: $medium-gray;
	font-Family: $sans;
	font-weight: normal;
	text-align: center;
	

	&:after {
		content: "";
		display: block;
		width: 4%;
		height: 3px;
		background-color: $gold;
		margin: 0 auto;
		margin-top: .10em;
	}
}
h3 {
	color: $medium-gray;
	font-Family: $sans;
	font-weight: normal;
	text-align: center;

	&:after {
		content: "";
		display: block;
		width: 4%;
		height: 3px;
		background-color: white;
		margin: 0 auto;
		margin-top: .10em;
	}
}
h4 {
	color: $gold;
	font-family: $sans;

}
h5 {
	color: $medium-gray;
	font-family: $serif;
	font-weight: regular;
	font-size: 22px;
}
p {
	color: $dark-gray;
	text-align: center;
}

body {
	font-family: $sans;
	text-align: center;
}
a {
	color: $gold;
	text-decoration: none;
}


