$serif:'Crimson Text', serif;
$sans:'Proza Libre', sans-serif;
$medium-gray: #3e3e3e;
$dark-gray: #1a1a1a;
$light-gray: #bab9b9b;
$gold: #b79975;

// Media Queries //

$xlarge: 1246px;
$large: 1024px;
$medium: 960px;
$small: 600px;
$xsmall: 414px;

