<!--Image 1-->
  <div class="col-12 col-m-12 slideshow-container">
    <a class="slideshow-menu" href="#">
      <h2>Menu</h2>
    </a>
    <div class="fade">
      <img src="/production/assets/img/uploads/food/Pasta.svg">
    </div>
    <!--End-->
    <img class="prev" src="/production/assets/img/uploads/arrow-left-white.svg" />

    <img class="next" src="/production/assets/img/uploads/arrow-right-white.svg" />
  </div>
</main>

<!--Need to move this into the JS file tomorrow-->
<!--End Slideshow-->