<div id="dinner-nav" class="col-3 dinner-nav">
		<div class="col-12 col-m-12">
			<a href="#appetizers">Appetizers</a>
		</div>
		<div class="col-12 col-m-12">
			<a href="#sides">Sides</a>
		</div>
		<div class="col-12 col-m-12">
			<a href="#entrees">Entrees</a>
		</div>
		<div class="col-12 col-m-12">
			<a href="#desserts">Desserts</a>
		</div>
	</div>


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
var windw = this;

$.fn.followTo = function ( pos ) {
    var $this = this,
        $window = $(windw);
    
    $window.scroll(function(e){
        if ($window.scrollTop() > pos) {
            $this.css({
                position: 'absolute',
                top: pos
            });
        } else {
            $this.css({
                position: 'fixed',
                top: 0
            });
        }
    });
};

$('#dinner-nav').followTo(350);
</script> -->