{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% block header %}
{# pulling the feature image, the about entry for the homepage, and the photo gallery images #}
	<style type="text/css">
		{% for asset in entry.featureImage %}
		.header-bckg {
			background-image: url({{ asset.url('featureImageSmall') }}) !important;
		}
		@media screen and (min-width: 800px) {
			.header-bckg {
				background-image: url({{ asset.url('featureImageLarge') }}) !important;
			}
		}
		{% endfor %}
	</style>
	<div class="header-container">
		<div class="header-bckg"></div>
		<div class="titleContainer">
			
			<div class="tomatoPlant">
				{% for asset in entry.illustration %}
					<img src="{{ asset.Url('illustrationCrop') }}" alt="{{asset.title}}" />
				{% endfor %}
			</div>
			<div class="pageTitle">
				<div class="mainTitle">
					<h1>{{ entry.headerTitle1 }}</h1>
				</div>
				<div class="subTitle">
					<h3>{{ entry.headerTitle2 }}</h3>
				</div>
				<div class="mainTitle">
					<h1>{{ entry.headerTitle3 }}</h1>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
	
	

	<div class="col-12 col-m-12 about_intro">
		<h2>About</h2>
		{{ entry.body }}
	</div>
		
	
	{% include '_includes/_gallery.html' %}
	
	<div class="half-grid">
				
		{% for entry in craft.entries.section('news').currentLightswitch(1).limit(1) %}
			<a href="{{ entry.url }}">
			<div class="about_events">
			<h2>Events</h2>
			<p class="event_title">{{ entry.title }}</p>
			<p class="event_date">{{ entry.eventDate.format('F d, Y') }}</p>
			{% set paragraphs = entry.body|split('</p>') %}
			{% set firstParagraph = paragraphs|first ~ '</p>' %}
			<p>{{ firstParagraph|raw }}</p>
			</div>
			</a>
 		{% endfor %}
 	


	
		<a href="{{ url('specials') }}">
			<div class="about_specials">
			{% set today = "now"|date("l") %}
			<h2>{{ today }}'s Specials</h2>
				{% for entry in craft.entries.section('specials').specialLightSwitch('1') %}
					{% for date in entry.specialDate %}
						{% if date == today %}
							<p class="event_title">{{ entry.title }}</p>
							<p>{{ entry.foodDescription }}</p>
							<p class="event_price">${{ entry.foodPrice }}</p>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
		</a>
		</div>

		{% include '_includes/_map.html' %}

{% endblock %}
