{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	
	{# pulling the feature image, the about entry for the homepage, and the photo gallery images #}
	{% for entry in craft.entries.section('aboutTreno') %}
		{% for asset in entry.featureImage %}
			<img src="{{ asset.url }}" alt="asset.title" />
		{% endfor %}
		<h2>About Treno</h2>
		{{entry.aboutForHomepage}}
		{% for asset in entry.photoGallery %}
			<a href="{{ asset.getUrl }}"><img src="{{ asset.getUrl('crop') }}"/></a>
		{% endfor %}
	{% endfor %}

	{# might have to change where this loop is pulling info from. just setting up the homepage to be similar to the wireframe.  #}
	
	{#<h2>Recent Menu Items</h2>
	<ul>
		{% for entry in craft.entries.section('menu').limit(5).find() %}
			<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
		{% endfor %}
	</ul>#}
	{# putting the envents (which is news as of right now) and the daily specials into a table #}	
	<table>
		<tr width="400">
			<th><h2>Events</h2></th>
			<th><h2>{{ "now"|date("l") }}'s Specials</h2></th>
		</tr>
		<tr width="400">
			<th> {{ entry.title }} </th>
		</tr>
		<tr width="400" height="200">
			<td>{% for entry in craft.entries.section('news').limit(1) %}
			
			{{ entry.body }}<br>
			<a href="{{ entry.url }}">more</a>
 		{% endfor %}</td>
	
	
	
	<td width="400" height="200"><ul>
			
			{% switch "now" | date("l") %}
	
			{% case "Monday" %}
				{% for entry in craft.entries.section('specials').specialLightSwitch('1').search('specialDate:Monday').limit(1) %}
					<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
					<ul>
						<li>{{ entry.foodDescription }}</li>
					</ul>
				{% endfor %}
			{% case "Tuesday" %}
				{% for entry in craft.entries.section('specials').search('specialDate:Tuesday').specialLightSwitch('1').limit(1) %}
					<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
					<ul>
						<li>{{ entry.foodDescription }}</li>
					</ul>
				{% endfor %}
			{% case "Wednesday" %}
				{% for entry in craft.entries.section('specials').search('specialDate:Wednesday').specialLightSwitch('1').limit(1) %}
					<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
					<ul>
						<li>{{ entry.foodDescription }}</li>
					</ul>
				{% endfor %}
			{% case "Thursday" %}
				{% for entry in craft.entries.section('specials').search('specialDate:Thursday').specialLightSwitch('1').limit(1) %}
					<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
					<ul>
						<li>{{ entry.foodDescription }}</li>
					</ul>
				{% endfor %}
			{% case "Friday" %}
				{% for entry in craft.entries.section('specials').search('specialDate:Friday').specialLightSwitch('1').limit(1) %}
					<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
					<ul>
						<li>{{ entry.foodDescription }}</li>
					</ul>
				{% endfor %}
			{% case "Saturday" %}
				{% for entry in craft.entries.section('specials').search('specialDate:Saturday').specialLightSwitch('1').limit(1) %}
					<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
					<ul>
						<li>{{ entry.foodDescription }}</li>
					</ul>
				{% endfor %}
			{% case "Sunday" %}
				{% for entry in craft.entries.section('specials').search('specialDate:Sunday').specialLightSwitch('1').limit(1) %}
					<li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
					<ul>
						<li>{{ entry.foodDescription }}</li>
					</ul>
				{% endfor %}

			{% endswitch %}
		</ul>
		<a href="{{ url('specials') }}">more</a>
	</td>
	</tr>
</table>
		<hr>
		{# this is for the map #}
		{% for entry in craft.entries.section('directions') %}
			{% for asset in entry.map %}
				<img src="{{ asset.url }}"/>
			{% endfor %}
		{% endfor %}
{% endblock %}
